.card {
    border: 1px solid rgb(59, 56, 56);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 5px;

    background: linear-gradient(to bottom,
            rgb(168, 131, 84),
            rgba(230, 210, 184));


    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    width: 150px;
    height: 300px;
    display: inline-block;
    overflow: hidden;


}

.pagination_controls {
    text-align: center;
    margin-bottom: 10px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

.Nextbtn,
.Prevbtn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: white;
}

.header_area {
    background-image: url("/assets/r.png");
    background-position: center;
    background-size: 100%;

    position: relative;
    /* Needed for overlaying the gradient */
}


.header_area::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

    /* Adjust height for desired fade area */
    background: linear-gradient(to bottom,
            rgba(120, 185, 193, 0),
            /* Start with transparent blue */
            rgba(120, 185, 193, 70)
            /* Fade to a semi-transparent blue */
        );

    pointer-events: none;
}

.background {
    background-color: rgba(120, 185, 193, 100);
}

.card_area {
    text-align: center;

    display: grid;
    grid-template-columns: repeat(5, 15%);
    justify-content: center;
}

.card_title {
    max-height: 50px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: brown;

}

.card:hover {
    background-color: lightcyan;
    transform: scale(1.05);
}





.card.expanded {
    width: 500px;
    /* Full viewport width */
    height: 500px;
    /* Full viewport height */
    position: fixed;
    /* Fix it in place */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Truly center the card */
    background-image: 300px;
    z-index: 10;
    text-align: left;
    /* Bring to the front */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: lightcyan;

    .cardImg {
        height: 60%;
        width: auto;
    }

}



.card .cardImg {
    width: 150px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;

}




ul li {
    display: inline;
    padding-left: 50px;
}