.Nav {

    background-color: white;

    margin: 0;
    color: black;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    font-weight: 50px;
    padding-bottom: 1px;
    /* White text color */

    /* Add some padding to the nav */
}

.Logo {
    height: 90px;
    width: auto;
    border-radius: 10px;
}




.pages {
    text-align: right;
    padding-right: 100px;
}

.Nav .pages li {

    margin: 2.5%;

}

.Nav .pages li a {
    color: Black;
    /* White text for the links */
    text-decoration: none;
    /* Remove underline from links */
    font-size: 15px;
    /* Set a readable font size */
    font-weight: 500;
    /* Slightly bold text */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

.Nav .pages li a:hover {
    color: #5b9bd5;
    /* Light blue color on hover */
}