.Nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: black;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    font-weight: 50px;
    padding-bottom: 1px;
    background-color: white;
    margin-bottom: 45px;

}

.Logo {
    position: relative;
    height: 8%;
    width: 15%;
    left: 10px;
}




.pages {
    display: inline-flex;
    padding-right: 100px;
}


.Home {
    color: black;
}

.about {
    color: black;

}

.Nav .pages li p {

    /* White text for the links */
    text-decoration: none;

    /* Remove underline from links */
    font-size: 15px;
    padding: 8px;

    /* Set a readable font size */
    font-weight: 500;

    transition: color 0.3s ease;

}

.Nav .pages li p:hover {
    color: #5b9bd5;
    cursor: pointer;
    /* Light blue color on hover */
}